body{
    margin: 0;
}

header{
    background-color: #0A1F44;
    display: flex;
}

#title{
    color: white;
    display: flex;
    flex-grow: 1;
    align-content: center;
}

#logo{
    flex-shrink: 1;
}

#intro{
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

#resturants{
    display: flex;
    flex-direction: column;
}


.resturant{
    display: flex;
    background-color: gold;
    flex-grow: 0;
    flex-shrink: 1;
    max-height: 500px;
    margin: 5px;
}

.resturant-image{
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 200px;
}

.resturant-logo{
    max-height: 200px;
    max-width: 180px;
}

.dishCard{
    display: flex;
}
